.infoMenu{
    position: absolute;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1fr, 2fr);
    grid-template-rows: minmax(100px, auto);
    transition-property: all;
    transition-duration: 200ms;
    padding: 10px 20px 10px 20px;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.infoMenu_active{
    transform: translate(0, 0);
}

.infoMenu_disabled{
    transform: translate(100%, 0);
}